<a href="https://colab.research.google.com/github/Python-Neiva/risk-factors-covid19/blob/main/ResearchInPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Model

In [4]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
from math import*

In [5]:
import os
!pip install sodapy -q
!pip install socrata-py -q

from sodapy import Socrata
from socrata.authorization import Authorization

  Building wheel for socrata-py (setup.py) ... done

In [6]:
client = Socrata(
                "www.datos.gov.co",
                "idLwSviPi5dGMTd7GfIfW3CLU",
                #username="sebastian_romerola@fet.edu.co",
                #password="Sebastian#2018",
                timeout=120
                )

results = client.get("gt2j-8ykr",
                    #  ciudad_municipio_nom="Neiva",
                    #  departamento_nom="HUILA",
                    limit=100000
                    )

In [7]:
df = pd.DataFrame.from_records(results)

In [8]:
#  Get recors by reading the cvs file
#  Issue:
#  It just let you get 1k records, thus Socrata API its a better way 
#
#  path= 'https://www.datos.gov.co/resource/gt2j-8ykr.csv'
#
#  df = pd.read_csv (r''+path)
#  df.head(10)

In [9]:
df.head(10)

   fecha_reporte_web id_de_caso  ... nom_grupo_ fecha_muerte
0   6/3/2020 0:00:00          1  ...        NaN          NaN
1   9/3/2020 0:00:00          2  ...        NaN          NaN
2   9/3/2020 0:00:00          3  ...        NaN          NaN
3  11/3/2020 0:00:00          4  ...        NaN          NaN
4  11/3/2020 0:00:00          5  ...        NaN          NaN
5  11/3/2020 0:00:00          6  ...        NaN          NaN
6  11/3/2020 0:00:00          7  ...        NaN          NaN
7  11/3/2020 0:00:00          8  ...        NaN          NaN
8  11/3/2020 0:00:00          9  ...        NaN          NaN
9  12/3/2020 0:00:00         10  ...        NaN          NaN

[10 rows x 23 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   fecha_reporte_web      100000 non-null  object
 1   id_de_caso             100000 non-null  object
 2   fecha_de_notificaci_n  100000 non-null  object
 3   departamento           100000 non-null  object
 4   departamento_nom       100000 non-null  object
 5   ciudad_municipio       100000 non-null  object
 6   ciudad_municipio_nom   100000 non-null  object
 7   edad                   100000 non-null  object
 8   unidad_medida          100000 non-null  object
 9   sexo                   100000 non-null  object
 10  fuente_tipo_contagio   100000 non-null  object
 11  ubicacion              100000 non-null  object
 12  estado                 100000 non-null  object
 13  pais_viajo_1_cod       912 non-null     object
 14  pais_viajo_1_nom       912 non-null     object
 15  recuperado             100000 non-null  object
 16  fecha_inicio_sintomas  91615 non-null   object
 17  fecha_diagnostico      97693 non-null   object
 18  fecha_recuperado       94832 non-null   object
 19  tipo_recuperacion      94832 non-null   object
 20  per_etn_               100000 non-null  object
 21  nom_grupo_             5658 non-null    object
 22  fecha_muerte           5633 non-null    object
dtypes: object(23)
memory usage: 17.5+ MB

In [11]:
df.describe()

        fecha_reporte_web id_de_caso  ...   nom_grupo_       fecha_muerte
count              100000     100000  ...         5658               5633
unique                115     100000  ...           52                395
top     27/6/2020 0:00:00      17162  ...  Por definir  21/6/2020 0:00:00
freq                 4149          1  ...         3603                134

[4 rows x 23 columns]

In [ ]:
np.shape(df)

(2000, 23)

In [ ]:
df.columns

Index(['fecha_reporte_web', 'id_de_caso', 'fecha_de_notificaci_n',
       'departamento', 'departamento_nom', 'ciudad_municipio',
       'ciudad_municipio_nom', 'edad', 'unidad_medida', 'sexo',
       'fuente_tipo_contagio', 'ubicacion', 'estado', 'pais_viajo_1_cod',
       'pais_viajo_1_nom', 'recuperado', 'fecha_inicio_sintomas',
       'fecha_diagnostico', 'fecha_recuperado', 'tipo_recuperacion',
       'per_etn_', 'nom_grupo_', 'fecha_muerte'],
      dtype='object')

In [ ]:
df.columns = [
  'web_date_report',
  'case_id',
  'notification_date',
  'davipola_departament_code',
  'department_name',
  'davipola_municipality_code',
  'municipality_name',
  'age',
  'age_measurement_unit',
  'sex',
  'contagion_type',
  'case_location',
  'state',
  'iso_country_code',
  'country_name',
  'recuperated', #spell correctly
  'beginning_symptoms_date',#!/usr/bin/env python
  'date_of_diagnosis',
  'date_of_recovery',
  'recovery_type',
  'ethnicity',
  'ethnic_group_name',
  'date_of_death',
]

#df.columns[2,3,5,8,9,10,11,12,13,15,16,17,18,20,21]

In [ ]:
df.head(10)

     web_date_report case_id  ... ethnic_group_name date_of_death
0   6/3/2020 0:00:00       1  ...               NaN           NaN
1   9/3/2020 0:00:00       2  ...               NaN           NaN
2   9/3/2020 0:00:00       3  ...               NaN           NaN
3  11/3/2020 0:00:00       4  ...               NaN           NaN
4  11/3/2020 0:00:00       5  ...               NaN           NaN
5  11/3/2020 0:00:00       6  ...               NaN           NaN
6  11/3/2020 0:00:00       7  ...               NaN           NaN
7  11/3/2020 0:00:00       8  ...               NaN           NaN
8  11/3/2020 0:00:00       9  ...               NaN           NaN
9  12/3/2020 0:00:00      10  ...               NaN           NaN

[10 rows x 23 columns]

In [ ]:
df.describe()

         web_date_report case_id  ... ethnic_group_name     date_of_death
count               2000    2000  ...                18               137
unique                31    2000  ...                 7                51
top     8/4/2020 0:00:00     897  ...       Por definir  4/4/2020 0:00:00
freq                 292       1  ...                 9                12

[4 rows x 23 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   web_date_report             2000 non-null   object
 1   case_id                     2000 non-null   object
 2   notification_date           2000 non-null   object
 3   davipola_departament_code   2000 non-null   object
 4   department_name             2000 non-null   object
 5   davipola_municipality_code  2000 non-null   object
 6   municipality_name           2000 non-null   object
 7   age                         2000 non-null   object
 8   age_measurement_unit        2000 non-null   object
 9   sex                         2000 non-null   object
 10  contagion_type              2000 non-null   object
 11  case_location               2000 non-null   object
 12  state                       2000 non-null   object
 13  iso_country_code            684 non-null    object
 14  country_name                684 non-null    object
 15  recuperated                 2000 non-null   object
 16  beginning_symptoms_date     1938 non-null   object
 17  date_of_diagnosis           1998 non-null   object
 18  date_of_recovery            1870 non-null   object
 19  recovery_type               1870 non-null   object
 20  ethnicity                   2000 non-null   object
 21  ethnic_group_name           18 non-null     object
 22  date_of_death               137 non-null    object
dtypes: object(23)
memory usage: 359.5+ KB

Se quitan los nulos y se reemplazan por 0

verifying nulls


```
print(df.isnull().values.any())
```
[source](https://towardsdatascience.com/a-complete-guide-to-principal-component-analysis-pca-in-machine-learning-664f34fc3e5a)

After use this function, the result of the code is false.

In [ ]:
df = df.fillna(0)

In [ ]:
print(df.isnull().values.any())

False

In [ ]:
df.date_of_death

0                      0
1                      0
2                      0
3                      0
4                      0
              ...
1995                   0
1996                   0
1997                   0
1998    7/4/2020 0:00:00
1999                   0
Name: date_of_death, Length: 2000, dtype: object

In [ ]:
df.date_of_recovery

0       13/3/2020 0:00:00
1       19/3/2020 0:00:00
2       15/3/2020 0:00:00
3       26/3/2020 0:00:00
4       23/3/2020 0:00:00
              ...
1995     9/5/2020 0:00:00
1996     9/5/2020 0:00:00
1997    24/5/2020 0:00:00
1998                    0
1999    11/4/2020 0:00:00
Name: date_of_recovery, Length: 2000, dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   web_date_report             2000 non-null   object
 1   case_id                     2000 non-null   object
 2   notification_date           2000 non-null   object
 3   davipola_departament_code   2000 non-null   object
 4   department_name             2000 non-null   object
 5   davipola_municipality_code  2000 non-null   object
 6   municipality_name           2000 non-null   object
 7   age                         2000 non-null   object
 8   age_measurement_unit        2000 non-null   object
 9   sex                         2000 non-null   object
 10  contagion_type              2000 non-null   object
 11  case_location               2000 non-null   object
 12  state                       2000 non-null   object
 13  iso_country_code            2000 non-null   object
 14  country_name                2000 non-null   object
 15  recuperated                 2000 non-null   object
 16  beginning_symptoms_date     2000 non-null   object
 17  date_of_diagnosis           2000 non-null   object
 18  date_of_recovery            2000 non-null   object
 19  recovery_type               2000 non-null   object
 20  ethnicity                   2000 non-null   object
 21  ethnic_group_name           2000 non-null   object
 22  date_of_death               2000 non-null   object
dtypes: object(23)
memory usage: 359.5+ KB

Similarity mesurement (radio basics funciotn)
1.  
*   ML / rbf -| knn graph / 
*   train to know about who would most highly survive
*   KNN graph (find the most near neibough
2.  
*   svm (support vector machine)





Adjency matrix. to build a graph after apply rbf and knn aproach?

In [ ]:
df.head(10)

     web_date_report case_id  ... ethnic_group_name date_of_death
0   6/3/2020 0:00:00       1  ...                 0             0
1   9/3/2020 0:00:00       2  ...                 0             0
2   9/3/2020 0:00:00       3  ...                 0             0
3  11/3/2020 0:00:00       4  ...                 0             0
4  11/3/2020 0:00:00       5  ...                 0             0
5  11/3/2020 0:00:00       6  ...                 0             0
6  11/3/2020 0:00:00       7  ...                 0             0
7  11/3/2020 0:00:00       8  ...                 0             0
8  11/3/2020 0:00:00       9  ...                 0             0
9  12/3/2020 0:00:00      10  ...                 0             0

[10 rows x 23 columns]

In [ ]:
"""
model = tf.keras.Sequential([
  tf.layers.Dense(input_shape=(28,28,3))),
  tf.layers.Dense(100, activation='relu'),
  tf.layers.Dense(100, activation='relu'),
  tf.layers.Dense(10, activation='softmax')
])
"""

"\nmodel = tf.keras.Sequential([\n  tf.layers.Dense(input_shape=(28,28,3))),\n  tf.layers.Dense(100, activation='relu'),\n  tf.layers.Dense(100, activation='relu'),\n  tf.layers.Dense(10, activation='softmax')\n])\n"

In [ ]:
for i in df.columns:
  if i.find("date") != -1:
    print(i)
    a = list()
    for j in eval("df."+i):
      #if j = null
      if j != 0:
        a.append(datetime.strptime(str(j), '%d/%m/%Y %H:%M:%S').timestamp())
      else:
        a.append(0)
    df[i] = a

web_date_report
notification_date
beginning_symptoms_date
date_of_diagnosis
date_of_recovery
date_of_death

In [ ]:
df.values

array([[1583452800.0, '1', 1583107200.0, ..., '6', 0, 0.0],
       [1583712000.0, '2', 1583452800.0, ..., '5', 0, 0.0],
       [1583712000.0, '3', 1583539200.0, ..., '6', 0, 0.0],
       ...,
       [1586304000.0, '1998', 1585353600.0, ..., '6', 0, 0.0],
       [1586304000.0, '1999', 1585180800.0, ..., '6', 0, 1586217600.0],
       [1586304000.0, '2000', 1585267200.0, ..., '6', 0, 0.0]],
      dtype=object)

1.   Delete departament name && municipality name 
2.   Binarize sex column
3.   Delete country name
4.   Normalize recovery type
5.   Write documentation

In [ ]:
df.describe()

       web_date_report  notification_date  ...  date_of_recovery  date_of_death
count     2.000000e+03       2.000000e+03  ...      2.000000e+03   2.000000e+03
mean      1.585609e+09       1.585197e+09  ...      1.484463e+09   1.087885e+08
std       5.807891e+05       5.252971e+05  ...      3.915072e+08   4.012747e+08
min       1.583453e+09       1.583107e+09  ...      0.000000e+00   0.000000e+00
25%       1.585267e+09       1.584922e+09  ...      1.586131e+09   0.000000e+00
50%       1.585699e+09       1.585267e+09  ...      1.586909e+09   0.000000e+00
75%       1.586131e+09       1.585526e+09  ...      1.588637e+09   0.000000e+00
max       1.586304e+09       1.593821e+09  ...      1.622938e+09   1.620000e+09

[8 rows x 6 columns]

Analisis de componentes principales (APC)

quitar lo que se puede.

desviación estandar de  para analizar causas de muerte

.fit

se realiza conversión a todos los que tengan

In [ ]:
#/-////////////////////////////////////////////////////////#
#                                                         /
#              average of recovery time per genre         /
#                                                         /
#/////////////////////////////////////////////////////////#

#////////////////////////////////////////////////////////#
#                                                        /
#     Capitalize Sex column values to avoid errors       /
#                                                        /
#////////////////////////////////////////////////////////#

#///



#////////////////////////////////////////////////////////#
#                                                        /
#  substract betweeen two dates and store it the answer  /
#                                                        /
#////////////////////////////////////////////////////////#

def get_duration_of_illness(x:any):
  time = 0
  z = list()
  count = 0
  for e in x.index:
    # print("position:")
    # print(e)
    # print(x.recuperated[e])
    count += 1
    if x.date_of_recovery[e] != 0:
      x.loc[e, "time_to_recover"] = abs(x.date_of_recovery[e] - x.beginning_symptoms_date[e])
    elif x.date_of_death[e] != 0:
      x.loc[e, "time_to_recover"] = abs(x.date_of_death[e] - x.beginning_symptoms_date[e])
    elif x.date_of_death[e] == 0 and x.date_of_recovery[e] == 0:
      print("NAN")
      x.loc[e, "time_to_recover"] = 0
  
  print("The total amount of data is: "+ str(count))

  return x

      # x.duration_of_illness.append()
      
      # abs((d2 - d1).days)

#////////////////////////////////////////////////////////#
#                                                        /
# Get important Columns to get the main of recovery time /
#                                                        /
#////////////////////////////////////////////////////////#

mean = 0
array_duration_of_illness = df.loc[
                                   :,
                                   [
                                    "sex",
                                    "beginning_symptoms_date",
                                    "date_of_recovery",
                                    "date_of_death",
                                    "recuperated"
                                    ]
                                   ].copy()

                                   #  sex M/ 15 avg to get recover from beginning_symptoms_date. 
                                   #  sex F/ 14 avg.

                                   # Male / Ibague / how long time do they neeed to get recover?
                                   #cound .. avg ... 

                                   ## share tje ML research results -| graph clustering. 

array_dates_women = array_duration_of_illness[array_duration_of_illness["sex"] == 'F']
get_duration_of_illness(array_dates_women)

array_dates_men = array_duration_of_illness[array_duration_of_illness["sex"] == "M"]
get_duration_of_illness(array_dates_men)

print(df.iloc[471])

#////           For alive people
# df.beginning_symptoms_date - df.date_of_recovery 


#////           For death people
# df.beginning_symptoms_date - df.date_of_death

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

The total amount of data is: 996
The total amount of data is: 1004
web_date_report               1.58509e+09
case_id                               472
notification_date             1.58484e+09
davipola_departament_code              11
department_name                    BOGOTA
davipola_municipality_code          11001
municipality_name                  BOGOTA
age                                    19
age_measurement_unit                    1
sex                                     F
contagion_type                  Importado
case_location                        Casa
state                                Leve
iso_country_code                      276
country_name                     ALEMANIA
recuperated                    Recuperado
beginning_symptoms_date       1.58449e+09
date_of_diagnosis             1.58509e+09
date_of_recovery              1.58812e+09
recovery_type                         PCR
ethnicity                               6
ethnic_group_name                       0
date_of_death                           0
Name: 471, dtype: object

In [ ]:
df.isnull().sum()

web_date_report               0
case_id                       0
notification_date             0
davipola_departament_code     0
department_name               0
davipola_municipality_code    0
municipality_name             0
age                           0
age_measurement_unit          0
sex                           0
contagion_type                0
case_location                 0
state                         0
iso_country_code              0
country_name                  0
recuperated                   0
beginning_symptoms_date       0
date_of_diagnosis             0
date_of_recovery              0
recovery_type                 0
ethnicity                     0
ethnic_group_name             0
date_of_death                 0
dtype: int64

Replacing

In [2]:
df.boxplot('age','contagion_type',rot = 0,figsize=(5,6))

NameError: ignored

In [ ]:
#df.replace([{'sex': {'F': 0, 'M': 1}]}) #Female = 0; Male = 1
df.replace(['F',
            'M'],
          [ '1',
            '0'])
#contagion type
df.replace(['Comunitaria',
            'Relacionado',
            'En estudio',
            'Importado',],
           ['0',
            '1',
            '2',
            '3',])

df.replace(['casa',
            'Casa',
            'CASA',
            'CASA',
            'Hospital',
            'Hospital UCI',
#   Its important because of the equivalent vallues in other columns,
#   so, in other columns also will be replaced by the same nuemric vallue
            'N/A',
            'Fallecido',
            ],
           ['0','0','0','0',
            '1',
            '2',
            '3',
            '4',])


df.replace(['leve',
            'Leve',
            'LEVE',
            'Moderado',
            'Grave',
#   Its important because of the equivalent vallues in other columns,
#   so, in other columns also will be replaced by the same nuemric vallue
            'N/A',
            'Fallecido',
            ],
           ['0','0','0',
            '1',
            '2',
            '3',
            '4',])

#Euclidean function

In [ ]:
df_to_use_in_pca = df.iloc[:, lambda df: [2,3,5,8,9,10,11,12,13,15,16,17,18,20,21]].copy() 
df_to_use_in_pca

      notification_date davipola_departament_code  ... ethnicity ethnic_group_name
0          1.583107e+09                        11  ...         6                 0
1          1.583453e+09                        76  ...         5                 0
2          1.583539e+09                         5  ...         6                 0
3          1.583712e+09                         5  ...         6                 0
4          1.583712e+09                         5  ...         6                 0
...                 ...                       ...  ...       ...               ...
1995       1.585181e+09                         5  ...         6                 0
1996       1.584835e+09                         5  ...         6                 0
1997       1.585354e+09                         5  ...         6                 0
1998       1.585181e+09                     47001  ...         6                 0
1999       1.585267e+09                         8  ...         6                 0

[2000 rows x 15 columns]

#Compromiso

1. Servicio que colecta la data por departamento y la guarda en la base de datos
    * Eliminar registros por departamento y volver a consultarlos y almacenarlos
2. Servicio que recibe por parametro el id del departamento 
3. Servicio que recupera la info por municipio.

#Commitment

1. Service which collect the data from Colombia according to each departament (state)
    * Delete records per departament and request it again
2. Service which get by parameter the departament_id and return the information
3. Service get municipality info

Documentation



request
[location and count](https://datos.gov.co/resource/gt2j-8ykr.json?$select=%20count(id_de_caso),ubicacion&$group=ubicacion)


Json

```
count_id_de_caso	"11015"
ubicacion	"casa"
count_id_de_caso	"4028443"
ubicacion	"Casa"
count_id_de_caso	"7"
ubicacion	"CASA"
count_id_de_caso	"105326"
ubicacion	"Fallecido"
count_id_de_caso	"22865"
ubicacion	"Hospital"
count_id_de_caso	"4963"
ubicacion	"Hospital UCI"
count_id_de_caso	"14575"
ubicacion	"N/A"
```

Contagion types


**source contagion type**
[request](https://datos.gov.co/resource/gt2j-8ykr.json?$select=%20fuente_tipo_contagio&$group=fuente_tipo_contagio)

Json
>Note: Order change in the time
```
[
{"fuente_tipo_contagio":"Comunitaria"}
,{"fuente_tipo_contagio":"En estudio"}
,{"fuente_tipo_contagio":"Importado"}
,{"fuente_tipo_contagio":"Relacionado"}
]
```

Patient State [request](https://datos.gov.co/resource/gt2j-8ykr.json?$select=%20estado&$group=estado)


***Patient state *** 


```
[{"estado":"Fallecido"}
,{"estado":"Grave"}
,{"estado":"leve"}
,{"estado":"Leve"}
,{"estado":"LEVE"}
,{"estado":"Moderado"}
,{"estado":"N/A"}]
```

#PCA

In [ ]:
from sklearn.decomposition import PCA

#Example 1
X = np.array([[-1, -1], [-2, -1], [-3, -2], [1, 1], [2, 1], [3, 2]])
pca = PCA(n_components=2)
pca.fit(X)

PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [ ]:
print(pca.explained_variance_ratio_)
print(pca.singular_values_)

[0.99244289 0.00755711]
[6.30061232 0.54980396]

In [ ]:
#Example 2

In [ ]:
pca = PCA(n_components=2, svd_solver='full')
pca.fit(X)

PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
    svd_solver='full', tol=0.0, whiten=False)

In [ ]:
print(pca.explained_variance_ratio_)
print(pca.singular_values_)

[0.99244289 0.00755711]
[6.30061232 0.54980396]

#Bayesian Algoritm

In [ ]:
#Clustering

By Ian Tomas, after meeting with Michael M. and Sebastian Romero L.


>A good place to start would be a similarity measure in your data, which you can implement with a radial basis function. This function inputs two records from your data set and outputs a single number between 0 and 1 which represents how similar the two records are, where a value closer to 1 means they are more similar, closer to 0 means they are different. This is a good idea to use if you want to represent your data as a graph as typically the similarity measure can work as an edge weight in a graph.

```
 void vectorsubtraction(vector<float> v1, vector<float> v2, vector<float> &v3){

    int i;
    //vectors must be same size
    if(v1.size() != v2.size()) return;
    for(i = 0; i < v1.size(); i++){
        //if symbolic attribute, push 1 to represent not equal, 0 to represent equal
        if(symbolic(i)){
          v3.push_back(v1[i] != v2[i]);
          //if continous, subtract values
        } else {
          v3.push_back((v1[i] - v2[i]));
        }
    }
}

float normalizevector(vector<float> v){

    int i;
    float total = 0.0;
    for(i = 0; i < v.size(); i++){
        total += (v[i] * v[i]);
    }

    return sqrt(total);
}

double edgeweight(vector<float> v1, vector<float> v2){

    vector<float> v3;
    vectorsubtraction(v1, v2, v3);

    float normalized = normalizevector(v3);
    double base = exp(normalized);
    return (1 / base);
}
```

In [ ]:
#Python code of barycentric clustering