#Model

In [67]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime
from math import*

In [68]:
import os
!pip install sodapy -q
!pip install socrata-py -q

from sodapy import Socrata
from socrata.authorization import Authorization

In [69]:
def requestColombianData(limit):  
  client = Socrata(
                  "www.datos.gov.co",
                  "idLwSviPi5dGMTd7GfIfW3CLU",
                  #username="sebastian_romerola@fet.edu.co",
                  #password="Sebastian#2018",
                  timeout=300
                  )

  results = client.get("gt2j-8ykr",
                      #  ciudad_municipio_nom="Neiva",
                      #  departamento_nom="HUILA",
                      limit=limit
                      )
  
  return pd.DataFrame.from_records(results, df)

In [ ]:
df = None
df = requestColombianData(4600000)

In [71]:
df.columns = [
  'web_date_report',
  'case_id',
  'notification_date',
  'davipola_departament_code',
  'department_name',
  'davipola_municipality_code',
  'municipality_name',
  'age',
  'age_measurement_unit',
  'sex',
  'contagion_type',
  'case_location',
  'state',
  'iso_country_code',
  'country_name',
  'recuperated', #spell correctly
  'beginning_symptoms_date',#!/usr/bin/env python
  'date_of_diagnosis',
  'date_of_recovery',
  'recovery_type',
  'ethnicity',
  'ethnic_group_name',
  'date_of_death',
]

In [128]:
df.astype = {  
  "web_date_report": str,
  "case_id": int, #ordinal
  "notification_date": str, 
  "davipola_departament_code": int, #categorical
  "department_name": str, #categorical
  "davipola_municipality_code": str, #categorical
  "municipality_name": str, #categorical
  "age": int, 
  "age_measurement_unit": int,
  "sex": str, #nominal
  "contagion_type": str, #categorical
  "case_location": str, #categorical
  "state": str, #ordinal
  "iso_country_code": int, #categorical
  "country_name": str, #categorical
  "recuperated": str, ##categorical
  "beginning_symptoms_date": str,#!/usr/bin/env python
  "date_of_diagnosis": str,
  "date_of_recovery": str,
  "recovery_type": str, #categorica
  "ethnicity": int, #nominal
  "ethnic_group_name": str, #nominal
  "date_of_death": str,
}

In [142]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   web_date_report             10000 non-null  float64
 1   case_id                     10000 non-null  object
 2   notification_date           10000 non-null  float64
 3   davipola_departament_code   10000 non-null  object
 4   department_name             10000 non-null  object
 5   davipola_municipality_code  10000 non-null  object
 6   municipality_name           10000 non-null  object
 7   age                         10000 non-null  object
 8   age_measurement_unit        10000 non-null  object
 9   sex                         10000 non-null  object
 10  contagion_type              10000 non-null  object
 11  case_location               10000 non-null  object
 12  state                       10000 non-null  object
 13  iso_country_code            838 non-null    object
 14  country_name                838 non-null    object
 15  recuperated                 10000 non-null  object
 16  beginning_symptoms_date     10000 non-null  float64
 17  date_of_diagnosis           10000 non-null  float64
 18  date_of_recovery            10000 non-null  float64
 19  recovery_type               9414 non-null   object
 20  ethnicity                   10000 non-null  object
 21  ethnic_group_name           575 non-null    object
 22  date_of_death               10000 non-null  float64
dtypes: float64(6), object(17)
memory usage: 1.8+ MB

In [133]:
df.select_dtypes(include='object')

     case_id davipola_departament_code  ... ethnicity ethnic_group_name
0          1                        11  ...         6                 0
1          2                        76  ...         5                 0
2          3                         5  ...         6                 0
3          4                         5  ...         6                 0
4          5                         5  ...         6                 0
...      ...                       ...  ...       ...               ...
9995   10036                        47  ...         6                 0
9996   10037                        47  ...         6                 0
9997   10038                        11  ...         6                 0
9998   10039                     13001  ...         6                 0
9999   10040                         8  ...         6                 0

[10000 rows x 17 columns]

In [141]:
for i in df.select_dtypes(include='object'):
  df[i] = df[i].str.upper()
  print(df[i])

0           1
1           2
2           3
3           4
4           5
        ...
9995    10036
9996    10037
9997    10038
9998    10039
9999    10040
Name: case_id, Length: 10000, dtype: object
0          11
1          76
2           5
3           5
4           5
        ...
9995       47
9996       47
9997       11
9998    13001
9999        8
Name: davipola_departament_code, Length: 10000, dtype: object
0          BOGOTA
1           VALLE
2       ANTIOQUIA
3       ANTIOQUIA
4       ANTIOQUIA
          ...
9995    MAGDALENA
9996    MAGDALENA
9997       BOGOTA
9998    CARTAGENA
9999    ATLANTICO
Name: department_name, Length: 10000, dtype: object
0       11001
1       76111
2        5001
3        5001
4        5001
        ...
9995    47189
9996    47189
9997    11001
9998    13001
9999     8758
Name: davipola_municipality_code, Length: 10000, dtype: object
0          BOGOTA
1            BUGA
2        MEDELLIN
3        MEDELLIN
4        MEDELLIN
          ...
9995      CIENAGA
9996      CIENAGA
9997       BOGOTA
9998    CARTAGENA
9999      SOLEDAD
Name: municipality_name, Length: 10000, dtype: object
0       19
1       34
2       50
3       55
4       25
        ..
9995    42
9996    24
9997    41
9998    85
9999    45
Name: age, Length: 10000, dtype: object
0       1
1       1
2       1
3       1
4       1
       ..
9995    1
9996    1
9997    1
9998    1
9999    1
Name: age_measurement_unit, Length: 10000, dtype: object
0       F
1       M
2       F
3       M
4       M
       ..
9995    F
9996    M
9997    M
9998    M
9999    M
Name: sex, Length: 10000, dtype: object
0         IMPORTADO
1         IMPORTADO
2         IMPORTADO
3       RELACIONADO
4       RELACIONADO
           ...
9995    RELACIONADO
9996    RELACIONADO
9997    COMUNITARIA
9998    COMUNITARIA
9999    RELACIONADO
Name: contagion_type, Length: 10000, dtype: object
0            CASA
1            CASA
2            CASA
3            CASA
4            CASA
          ...
9995         CASA
9996         CASA
9997          N/A
9998    FALLECIDO
9999         CASA
Name: case_location, Length: 10000, dtype: object
0            LEVE
1            LEVE
2            LEVE
3            LEVE
4            LEVE
          ...
9995         LEVE
9996         LEVE
9997          N/A
9998    FALLECIDO
9999         LEVE
Name: state, Length: 10000, dtype: object
0       380
1       724
2       724
3       NaN
4       NaN
       ...
9995    NaN
9996    NaN
9997    NaN
9998    NaN
9999    NaN
Name: iso_country_code, Length: 10000, dtype: object
0       ITALIA
1       ESPAÑA
2       ESPAÑA
3          NaN
4          NaN
         ...
9995       NaN
9996       NaN
9997       NaN
9998       NaN
9999       NaN
Name: country_name, Length: 10000, dtype: object
0       RECUPERADO
1       RECUPERADO
2       RECUPERADO
3       RECUPERADO
4       RECUPERADO
           ...
9995    RECUPERADO
9996    RECUPERADO
9997           N/A
9998     FALLECIDO
9999    RECUPERADO
Name: recuperated, Length: 10000, dtype: object
0       PCR
1       PCR
2       PCR
3       PCR
4       PCR
       ...
9995    PCR
9996    PCR
9997    NaN
9998    NaN
9999    PCR
Name: recovery_type, Length: 10000, dtype: object
0       6
1       5
2       6
3       6
4       6
       ..
9995    6
9996    6
9997    6
9998    6
9999    6
Name: ethnicity, Length: 10000, dtype: object
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
9995    NaN
9996    NaN
9997    NaN
9998    NaN
9999    NaN
Name: ethnic_group_name, Length: 10000, dtype: object

In [73]:
#  Get recors by reading the cvs file
#  Issue:
#  It just let you get 1k records, thus Socrata API its a better way 
#
#  path= 'https://www.datos.gov.co/resource/gt2j-8ykr.csv'
#
#  df = pd.read_csv(r''+path)
#  df.head(10)

In [74]:
df.head(10)

     web_date_report case_id  ... ethnic_group_name date_of_death
0   6/3/2020 0:00:00       1  ...               NaN           NaN
1   9/3/2020 0:00:00       2  ...               NaN           NaN
2   9/3/2020 0:00:00       3  ...               NaN           NaN
3  11/3/2020 0:00:00       4  ...               NaN           NaN
4  11/3/2020 0:00:00       5  ...               NaN           NaN
5  11/3/2020 0:00:00       6  ...               NaN           NaN
6  11/3/2020 0:00:00       7  ...               NaN           NaN
7  11/3/2020 0:00:00       8  ...               NaN           NaN
8  11/3/2020 0:00:00       9  ...               NaN           NaN
9  12/3/2020 0:00:00      10  ...               NaN           NaN

[10 rows x 23 columns]

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   web_date_report             10000 non-null  object
 1   case_id                     10000 non-null  object
 2   notification_date           10000 non-null  object
 3   davipola_departament_code   10000 non-null  object
 4   department_name             10000 non-null  object
 5   davipola_municipality_code  10000 non-null  object
 6   municipality_name           10000 non-null  object
 7   age                         10000 non-null  object
 8   age_measurement_unit        10000 non-null  object
 9   sex                         10000 non-null  object
 10  contagion_type              10000 non-null  object
 11  case_location               10000 non-null  object
 12  state                       10000 non-null  object
 13  iso_country_code            838 non-null    object
 14  country_name                838 non-null    object
 15  recuperated                 10000 non-null  object
 16  beginning_symptoms_date     8855 non-null   object
 17  date_of_diagnosis           9997 non-null   object
 18  date_of_recovery            9414 non-null   object
 19  recovery_type               9414 non-null   object
 20  ethnicity                   10000 non-null  object
 21  ethnic_group_name           575 non-null    object
 22  date_of_death               640 non-null    object
dtypes: object(23)
memory usage: 1.8+ MB

In [76]:
df.describe()

         web_date_report case_id  ... ethnic_group_name      date_of_death
count              10000   10000  ...               575                640
unique                62   10000  ...                29                152
top     5/5/2020 0:00:00    9667  ...       Por definir  30/4/2020 0:00:00
freq                 641       1  ...               378                 24

[4 rows x 23 columns]

In [77]:
np.shape(df)

(10000, 23)

In [78]:
df.columns

Index(['web_date_report', 'case_id', 'notification_date',
       'davipola_departament_code', 'department_name',
       'davipola_municipality_code', 'municipality_name', 'age',
       'age_measurement_unit', 'sex', 'contagion_type', 'case_location',
       'state', 'iso_country_code', 'country_name', 'recuperated',
       'beginning_symptoms_date', 'date_of_diagnosis', 'date_of_recovery',
       'recovery_type', 'ethnicity', 'ethnic_group_name', 'date_of_death'],
      dtype='object')

In [79]:
df.columns = [
  'web_date_report',
  'case_id',
  'notification_date',
  'davipola_departament_code',
  'department_name',
  'davipola_municipality_code',
  'municipality_name',
  'age',
  'age_measurement_unit',
  'sex',
  'contagion_type',
  'case_location',
  'state',
  'iso_country_code',
  'country_name',
  'recuperated', #spell correctly
  'beginning_symptoms_date',#!/usr/bin/env python
  'date_of_diagnosis',
  'date_of_recovery',
  'recovery_type',
  'ethnicity',
  'ethnic_group_name',
  'date_of_death',
]

#df.columns[2,3,5,8,9,10,11,12,13,15,16,17,18,20,21]

In [80]:
df = df.fillna(0)

In [81]:
df_string = df.loc[:, [
  "web_date_report",
  "notification_date",
  "department_name",
  "municipality_name",
  "sex",
  "contagion_type",
  "case_location",
  "state",
  "country_name",
  "recuperated",
  "beginning_symptoms_date",
  "date_of_diagnosis",
  "date_of_recovery",
  "recovery_type",
  "ethnic_group_name",
  "date_of_death",
]].copy()

In [82]:
df_string

        web_date_report  notification_date  ... ethnic_group_name      date_of_death
0      6/3/2020 0:00:00   2/3/2020 0:00:00  ...                 0                  0
1      9/3/2020 0:00:00   6/3/2020 0:00:00  ...                 0                  0
2      9/3/2020 0:00:00   7/3/2020 0:00:00  ...                 0                  0
3     11/3/2020 0:00:00   9/3/2020 0:00:00  ...                 0                  0
4     11/3/2020 0:00:00   9/3/2020 0:00:00  ...                 0                  0
...                 ...                ...  ...               ...                ...
9995   8/5/2020 0:00:00  30/4/2020 0:00:00  ...                 0                  0
9996   8/5/2020 0:00:00  30/4/2020 0:00:00  ...                 0                  0
9997   8/5/2020 0:00:00   8/5/2020 0:00:00  ...                 0  30/4/2020 0:00:00
9998   8/5/2020 0:00:00   3/5/2020 0:00:00  ...                 0   6/5/2020 0:00:00
9999   8/5/2020 0:00:00   3/5/2020 0:00:00  ...                 0                  0

[10000 rows x 16 columns]

uppercase to each str row

In [131]:
df.select_dtypes(include='string')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[10000 rows x 0 columns]

In [84]:
df.loc[:, df.dtypes == object]

        web_date_report case_id  ... ethnic_group_name      date_of_death
0      6/3/2020 0:00:00       1  ...                 0                  0
1      9/3/2020 0:00:00       2  ...                 0                  0
2      9/3/2020 0:00:00       3  ...                 0                  0
3     11/3/2020 0:00:00       4  ...                 0                  0
4     11/3/2020 0:00:00       5  ...                 0                  0
...                 ...     ...  ...               ...                ...
9995   8/5/2020 0:00:00   10036  ...                 0                  0
9996   8/5/2020 0:00:00   10037  ...                 0                  0
9997   8/5/2020 0:00:00   10038  ...                 0  30/4/2020 0:00:00
9998   8/5/2020 0:00:00   10039  ...                 0   6/5/2020 0:00:00
9999   8/5/2020 0:00:00   10040  ...                 0                  0

[10000 rows x 23 columns]

In [85]:
df.select_dtypes(include='object')

        web_date_report case_id  ... ethnic_group_name      date_of_death
0      6/3/2020 0:00:00       1  ...                 0                  0
1      9/3/2020 0:00:00       2  ...                 0                  0
2      9/3/2020 0:00:00       3  ...                 0                  0
3     11/3/2020 0:00:00       4  ...                 0                  0
4     11/3/2020 0:00:00       5  ...                 0                  0
...                 ...     ...  ...               ...                ...
9995   8/5/2020 0:00:00   10036  ...                 0                  0
9996   8/5/2020 0:00:00   10037  ...                 0                  0
9997   8/5/2020 0:00:00   10038  ...                 0  30/4/2020 0:00:00
9998   8/5/2020 0:00:00   10039  ...                 0   6/5/2020 0:00:00
9999   8/5/2020 0:00:00   10040  ...                 0                  0

[10000 rows x 23 columns]

In [86]:
df.head(10)

     web_date_report case_id  ... ethnic_group_name date_of_death
0   6/3/2020 0:00:00       1  ...                 0             0
1   9/3/2020 0:00:00       2  ...                 0             0
2   9/3/2020 0:00:00       3  ...                 0             0
3  11/3/2020 0:00:00       4  ...                 0             0
4  11/3/2020 0:00:00       5  ...                 0             0
5  11/3/2020 0:00:00       6  ...                 0             0
6  11/3/2020 0:00:00       7  ...                 0             0
7  11/3/2020 0:00:00       8  ...                 0             0
8  11/3/2020 0:00:00       9  ...                 0             0
9  12/3/2020 0:00:00      10  ...                 0             0

[10 rows x 23 columns]

In [87]:
df.describe()

         web_date_report case_id  ... ethnic_group_name date_of_death
count              10000   10000  ...             10000         10000
unique                62   10000  ...                30           153
top     5/5/2020 0:00:00    9667  ...                 0             0
freq                 641       1  ...              9425          9360

[4 rows x 23 columns]

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   web_date_report             10000 non-null  object
 1   case_id                     10000 non-null  object
 2   notification_date           10000 non-null  object
 3   davipola_departament_code   10000 non-null  object
 4   department_name             10000 non-null  object
 5   davipola_municipality_code  10000 non-null  object
 6   municipality_name           10000 non-null  object
 7   age                         10000 non-null  object
 8   age_measurement_unit        10000 non-null  object
 9   sex                         10000 non-null  object
 10  contagion_type              10000 non-null  object
 11  case_location               10000 non-null  object
 12  state                       10000 non-null  object
 13  iso_country_code            10000 non-null  object
 14  country_name                10000 non-null  object
 15  recuperated                 10000 non-null  object
 16  beginning_symptoms_date     10000 non-null  object
 17  date_of_diagnosis           10000 non-null  object
 18  date_of_recovery            10000 non-null  object
 19  recovery_type               10000 non-null  object
 20  ethnicity                   10000 non-null  object
 21  ethnic_group_name           10000 non-null  object
 22  date_of_death               10000 non-null  object
dtypes: object(23)
memory usage: 1.8+ MB

Se quitan los nulos y se reemplazan por 0

verifying nulls


```
print(df.isnull().values.any())
```
[source](https://towardsdatascience.com/a-complete-guide-to-principal-component-analysis-pca-in-machine-learning-664f34fc3e5a)

After use this function, the result of the code is false.

In [89]:
print(df.isnull().values.any())

False

In [90]:
df.date_of_death

0                       0
1                       0
2                       0
3                       0
4                       0
              ...
9995                    0
9996                    0
9997    30/4/2020 0:00:00
9998     6/5/2020 0:00:00
9999                    0
Name: date_of_death, Length: 10000, dtype: object

In [91]:
df.date_of_recovery

0       13/3/2020 0:00:00
1       19/3/2020 0:00:00
2       15/3/2020 0:00:00
3       26/3/2020 0:00:00
4       23/3/2020 0:00:00
              ...
9995    23/5/2020 0:00:00
9996     2/6/2020 0:00:00
9997                    0
9998                    0
9999    20/5/2020 0:00:00
Name: date_of_recovery, Length: 10000, dtype: object

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   web_date_report             10000 non-null  object
 1   case_id                     10000 non-null  object
 2   notification_date           10000 non-null  object
 3   davipola_departament_code   10000 non-null  object
 4   department_name             10000 non-null  object
 5   davipola_municipality_code  10000 non-null  object
 6   municipality_name           10000 non-null  object
 7   age                         10000 non-null  object
 8   age_measurement_unit        10000 non-null  object
 9   sex                         10000 non-null  object
 10  contagion_type              10000 non-null  object
 11  case_location               10000 non-null  object
 12  state                       10000 non-null  object
 13  iso_country_code            10000 non-null  object
 14  country_name                10000 non-null  object
 15  recuperated                 10000 non-null  object
 16  beginning_symptoms_date     10000 non-null  object
 17  date_of_diagnosis           10000 non-null  object
 18  date_of_recovery            10000 non-null  object
 19  recovery_type               10000 non-null  object
 20  ethnicity                   10000 non-null  object
 21  ethnic_group_name           10000 non-null  object
 22  date_of_death               10000 non-null  object
dtypes: object(23)
memory usage: 1.8+ MB

Similarity mesurement (radio basics funciotn)
1.  
*   ML / rbf -| knn graph / 
*   train to know about who would most highly survive
*   KNN graph (find the most near neibough
2.  
*   svm (support vector machine)





Adjency matrix. to build a graph after apply rbf and knn aproach?

In [93]:
df.head(10)

     web_date_report case_id  ... ethnic_group_name date_of_death
0   6/3/2020 0:00:00       1  ...                 0             0
1   9/3/2020 0:00:00       2  ...                 0             0
2   9/3/2020 0:00:00       3  ...                 0             0
3  11/3/2020 0:00:00       4  ...                 0             0
4  11/3/2020 0:00:00       5  ...                 0             0
5  11/3/2020 0:00:00       6  ...                 0             0
6  11/3/2020 0:00:00       7  ...                 0             0
7  11/3/2020 0:00:00       8  ...                 0             0
8  11/3/2020 0:00:00       9  ...                 0             0
9  12/3/2020 0:00:00      10  ...                 0             0

[10 rows x 23 columns]

In [94]:
"""
model = tf.keras.Sequential([
  tf.layers.Dense(input_shape=(28,28,3))),
  tf.layers.Dense(100, activation='relu'),
  tf.layers.Dense(100, activation='relu'),
  tf.layers.Dense(10, activation='softmax')
])
"""

"\nmodel = tf.keras.Sequential([\n  tf.layers.Dense(input_shape=(28,28,3))),\n  tf.layers.Dense(100, activation='relu'),\n  tf.layers.Dense(100, activation='relu'),\n  tf.layers.Dense(10, activation='softmax')\n])\n"

In [95]:
for i in df.columns:
  if i.find("date") != -1:
    print(i)
    a = list()
    for j in eval("df."+i):
      #if j = null
      if j != 0:
        a.append(datetime.strptime(str(j), '%d/%m/%Y %H:%M:%S').timestamp())
      else:
        a.append(0)
    df[i] = a

web_date_report
notification_date
beginning_symptoms_date
date_of_diagnosis
date_of_recovery
date_of_death

In [96]:
df.values

array([[1583452800.0, '1', 1583107200.0, ..., '6', 0, 0.0],
       [1583712000.0, '2', 1583452800.0, ..., '5', 0, 0.0],
       [1583712000.0, '3', 1583539200.0, ..., '6', 0, 0.0],
       ...,
       [1588896000.0, '10038', 1588896000.0, ..., '6', 0, 1588204800.0],
       [1588896000.0, '10039', 1588464000.0, ..., '6', 0, 1588723200.0],
       [1588896000.0, '10040', 1588464000.0, ..., '6', 0, 0.0]],
      dtype=object)

In [97]:
df.dtypes

web_date_report               float64
case_id                        object
notification_date             float64
davipola_departament_code      object
department_name                object
davipola_municipality_code     object
municipality_name              object
age                            object
age_measurement_unit           object
sex                            object
contagion_type                 object
case_location                  object
state                          object
iso_country_code               object
country_name                   object
recuperated                    object
beginning_symptoms_date       float64
date_of_diagnosis             float64
date_of_recovery              float64
recovery_type                  object
ethnicity                      object
ethnic_group_name              object
date_of_death                 float64
dtype: object

1.   Delete departament name && municipality name 
2.   Binarize sex column
3.   Delete country name
4.   Normalize recovery type
5.   Write documentation

In [98]:
df.describe()

       web_date_report  notification_date  ...  date_of_recovery  date_of_death
count     1.000000e+04       1.000000e+04  ...      1.000000e+04   1.000000e+04
mean      1.587474e+09       1.587016e+09  ...      1.496423e+09   1.017590e+08
std       1.177524e+06       1.262052e+06  ...      3.733774e+08   3.891765e+08
min       1.583453e+09       1.583107e+09  ...      0.000000e+00   0.000000e+00
25%       1.586563e+09       1.585958e+09  ...      1.587946e+09   0.000000e+00
50%       1.587773e+09       1.587254e+09  ...      1.589328e+09   0.000000e+00
75%       1.588464e+09       1.588032e+09  ...      1.590883e+09   0.000000e+00
max       1.592179e+09       1.607558e+09  ...      1.622938e+09   1.622333e+09

[8 rows x 6 columns]

Analisis de componentes principales (APC)

quitar lo que se puede.

desviación estandar de  para analizar causas de muerte

.fit

se realiza conversión a todos los que tengan

In [99]:
#/-////////////////////////////////////////////////////////#
#                                                         /
#              average of recovery time per genre         /
#                                                         /
#/////////////////////////////////////////////////////////#

#////////////////////////////////////////////////////////#
#                                                        /
#     Capitalize Sex column values to avoid errors       /
#                                                        /
#////////////////////////////////////////////////////////#

#///



#////////////////////////////////////////////////////////#
#                                                        /
#  substract betweeen two dates and store it the answer  /
#                                                        /
#////////////////////////////////////////////////////////#

def get_duration_of_illness(x:any):
  time = 0
  z = list()
  count = 0
  for e in x.index:
    count += 1
    if x.date_of_recovery[e] != 0:
      x.loc[e, "time_to_recover"] = abs(x.date_of_recovery[e] - x.beginning_symptoms_date[e])
    elif x.date_of_death[e] != 0:
      x.loc[e, "time_to_recover"] = abs(x.date_of_death[e] - x.beginning_symptoms_date[e])
    elif x.date_of_death[e] == 0 and x.date_of_recovery[e] == 0:
      print("NAN")
      x.loc[e, "time_to_recover"] = 0
  
  print("The total amount of data is: "+ str(count))

  return x

      # x.duration_of_illness.append()
      
      # abs((d2 - d1).days)

#////////////////////////////////////////////////////////#
#                                                        /
# Get important Columns to get the main of recovery time /
#                                                        /
#////////////////////////////////////////////////////////#

mean = 0


#it is not necessary use another array, a better approach may be use df directly
array_duration_of_illness = df.loc[
                                   :,
                                   [
                                    "sex",
                                    "beginning_symptoms_date",
                                    "date_of_recovery",
                                    "date_of_death",
                                    "recuperated"
                                    ]
                                   ].copy()

                                   #  sex M/ 15 avg to get recover from beginning_symptoms_date. 
                                   #  sex F/ 14 avg.

                                   # Male / Ibague / how long time do they neeed to get recover?
                                   #cound .. avg ... 

                                   ## share tje ML research results -| graph clustering. 
array_dates_women = df[df["sex"] == 'F']
get_duration_of_illness(array_dates_women)

array_dates_men = df[df["sex"] == "M"]
get_duration_of_illness(array_dates_men)

#////           For alive people
# df.beginning_symptoms_date - df.date_of_recovery 


#////           For death people
# df.beginning_symptoms_date - df.date_of_death

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

The total amount of data is: 4497
The total amount of data is: 5503

      web_date_report case_id  ...  date_of_death time_to_recover
1        1.583712e+09       2  ...   0.000000e+00       1296000.0
3        1.583885e+09       4  ...   0.000000e+00       1728000.0
4        1.583885e+09       5  ...   0.000000e+00       1296000.0
13       1.584058e+09      14  ...   0.000000e+00       1209600.0
17       1.584144e+09      18  ...   0.000000e+00       2678400.0
...               ...     ...  ...            ...             ...
9991     1.588896e+09   10032  ...   0.000000e+00       2851200.0
9996     1.588896e+09   10037  ...   0.000000e+00       2937600.0
9997     1.588896e+09   10038  ...   1.588205e+09         86400.0
9998     1.588896e+09   10039  ...   1.588723e+09        604800.0
9999     1.588896e+09   10040  ...   0.000000e+00       1900800.0

[5503 rows x 24 columns]

In [100]:
df.isnull().sum()

web_date_report               0
case_id                       0
notification_date             0
davipola_departament_code     0
department_name               0
davipola_municipality_code    0
municipality_name             0
age                           0
age_measurement_unit          0
sex                           0
contagion_type                0
case_location                 0
state                         0
iso_country_code              0
country_name                  0
recuperated                   0
beginning_symptoms_date       0
date_of_diagnosis             0
date_of_recovery              0
recovery_type                 0
ethnicity                     0
ethnic_group_name             0
date_of_death                 0
dtype: int64

Replacing

In [101]:
#df.boxplot('age','contagion_type',rot = 0,figsize=(5,6))

In [102]:
df.dtypes.value_counts()

object     17
float64     6
dtype: int64

Posible ways to replace
[Pandas Documentation 
](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html)
```
df.replace({'A': {0: 100, 4: 400}})
Result:
        A  B  C
0  100  5  a
1    1  6  b
2    2  7  c
3    3  8  d
4  400  9  e
```

In [103]:
#   df.replace([{'sex': {'F': 0, 'M': 1}]})
#   Female = 0; Male = 1

df.replace(['F',
            'M'],
          [ '1',
            '-1'])
#   Female = 0; Male = 1

#contagion type
df.replace(['Comunitaria',
            'Relacionado',
            'En estudio',
            'Importado',],
           ['0',
            '1',
            '2',
            '3',])

df.replace(['casa',
            'Casa',
            'CASA',
            'CASA',
            'Hospital',
            'Hospital UCI',
#   Its important because of the equivalent vallues in other columns,
#   so, in other columns also will be replaced by the same nuemric vallue
            'N/A',
            'Fallecido',
            ],
           ['0','0','0','0',
            '1',
            '2',
            '3',
            '4',])


df.replace(['leve',
            'Leve',
            'LEVE',
            'Moderado',
            'Grave',
#   Its important because of the equivalent vallues in other columns,
#   so, in other columns also will be replaced by the same nuemric vallue
            'N/A',
            'Fallecido',
            ],
           ['0','0','0',
            '1',
            '2',
            '3',
            '4',])

      web_date_report case_id  ...  ethnic_group_name date_of_death
0        1.583453e+09       1  ...                  0  0.000000e+00
1        1.583712e+09       2  ...                  0  0.000000e+00
2        1.583712e+09       3  ...                  0  0.000000e+00
3        1.583885e+09       4  ...                  0  0.000000e+00
4        1.583885e+09       5  ...                  0  0.000000e+00
...               ...     ...  ...                ...           ...
9995     1.588896e+09   10036  ...                  0  0.000000e+00
9996     1.588896e+09   10037  ...                  0  0.000000e+00
9997     1.588896e+09   10038  ...                  0  1.588205e+09
9998     1.588896e+09   10039  ...                  0  1.588723e+09
9999     1.588896e+09   10040  ...                  0  0.000000e+00

[10000 rows x 23 columns]

In [104]:
df.head(20)

    web_date_report case_id  ...  ethnic_group_name date_of_death
0      1.583453e+09       1  ...                  0           0.0
1      1.583712e+09       2  ...                  0           0.0
2      1.583712e+09       3  ...                  0           0.0
3      1.583885e+09       4  ...                  0           0.0
4      1.583885e+09       5  ...                  0           0.0
5      1.583885e+09       6  ...                  0           0.0
6      1.583885e+09       7  ...                  0           0.0
7      1.583885e+09       8  ...                  0           0.0
8      1.583885e+09       9  ...                  0           0.0
9      1.583971e+09      10  ...                  0           0.0
10     1.583971e+09      11  ...                  0           0.0
11     1.583971e+09      12  ...                  0           0.0
12     1.583971e+09      13  ...                  0           0.0
13     1.584058e+09      14  ...                  0           0.0
14     1.584058e+09      15  ...                  0           0.0
15     1.584058e+09      16  ...                  0           0.0
16     1.584144e+09      17  ...                  0           0.0
17     1.584144e+09      18  ...                  0           0.0
18     1.584144e+09      19  ...                  0           0.0
19     1.584144e+09      20  ...                  0           0.0

[20 rows x 23 columns]

#Euclidean function

In [127]:
df_to_use_in_pca = df.iloc[:, lambda df: [3,5,7,9,10,11,12,13,15,16,17,18,20,21]].copy() 
df_to_use_in_pca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   davipola_departament_code   10000 non-null  object
 1   davipola_municipality_code  10000 non-null  object
 2   age                         10000 non-null  object
 3   sex                         10000 non-null  object
 4   contagion_type              10000 non-null  object
 5   case_location               10000 non-null  object
 6   state                       10000 non-null  object
 7   iso_country_code            10000 non-null  object
 8   recuperated                 10000 non-null  object
 9   beginning_symptoms_date     10000 non-null  float64
 10  date_of_diagnosis           10000 non-null  float64
 11  date_of_recovery            10000 non-null  float64
 12  ethnicity                   10000 non-null  object
 13  ethnic_group_name           10000 non-null  object
dtypes: float64(3), object(11)
memory usage: 1.1+ MB

#Compromiso

1. Servicio que colecta la data por departamento y la guarda en la base de datos
    * Eliminar registros por departamento y volver a consultarlos y almacenarlos
2. Servicio que recibe por parametro el id del departamento 
3. Servicio que recupera la info por municipio.

#Commitment

1. Service which collect the data from Colombia according to each departament (state)
    * Delete records per departament and request it again
2. Service which get by parameter the departament_id and return the information
3. Service get municipality info

Documentation



request
[location and count](https://datos.gov.co/resource/gt2j-8ykr.json?$select=%20count(id_de_caso),ubicacion&$group=ubicacion)

Json
>```
count_id_de_caso	"11015"
ubicacion	"casa"
count_id_de_caso	"4028443"
ubicacion	"Casa"
count_id_de_caso	"7"
ubicacion	"CASA"
count_id_de_caso	"105326"
ubicacion	"Fallecido"
count_id_de_caso	"22865"
ubicacion	"Hospital"
count_id_de_caso	"4963"
ubicacion	"Hospital UCI"
count_id_de_caso	"14575"
ubicacion	"N/A"
```

Contagion types


**source contagion type**
[request](https://datos.gov.co/resource/gt2j-8ykr.json?$select=%20fuente_tipo_contagio&$group=fuente_tipo_contagio)

Json
>```
[
{"fuente_tipo_contagio":"Comunitaria"}
,{"fuente_tipo_contagio":"En estudio"}
,{"fuente_tipo_contagio":"Importado"}
,{"fuente_tipo_contagio":"Relacionado"}
]
```

Patient State [request](https://datos.gov.co/resource/gt2j-8ykr.json?$select=%20estado&$group=estado)


***Patient state *** 

>```
[{"estado":"Fallecido"}
,{"estado":"Grave"}
,{"estado":"leve"}
,{"estado":"Leve"}
,{"estado":"LEVE"}
,{"estado":"Moderado"}
,{"estado":"N/A"}]
```

#PCA

## Example of PCA

In [106]:
from sklearn.decomposition import PCA

#Example 1
X = np.array([[-1, -1], [-2, -1], [-3, -2], [1, 1], [2, 1], [3, 2]])
pca = PCA(n_components=2)
pca.fit(X)

PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [107]:
print(pca.explained_variance_ratio_)
print(pca.singular_values_)

[0.99244289 0.00755711]
[6.30061232 0.54980396]

In [108]:
#Example 2

In [109]:
pca = PCA(n_components=2, svd_solver='full')
pca.fit(X)

PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
    svd_solver='full', tol=0.0, whiten=False)

In [110]:
print(pca.explained_variance_ratio_)
print(pca.singular_values_)

[0.99244289 0.00755711]
[6.30061232 0.54980396]

#Bayesian Algoritm

In [111]:
#Clustering

Advising by Ian Tomas, after meeting with Michael M. and Sebastian Romero L.

>A good place to start would be a similarity measure in your data, which you can implement with a radial basis function. This function inputs two records from your data set and outputs a single number between 0 and 1 which represents how similar the two records are, where a value closer to 1 means they are more similar, closer to 0 means they are different. This is a good idea to use if you want to represent your data as a graph as typically the similarity measure can work as an edge weight in a graph.

```
 void vectorsubtraction(vector<float> v1, vector<float> v2, vector<float> &v3){

    int i;
    //vectors must be same size
    if(v1.size() != v2.size()) return;
    for(i = 0; i < v1.size(); i++){
        //if symbolic attribute, push 1 to represent not equal, 0 to represent equal
        if(symbolic(i)){
          v3.push_back(v1[i] != v2[i]);
          //if continous, subtract values
        } else {
          v3.push_back((v1[i] - v2[i]));
        }
    }
}

float normalizevector(vector<float> v){

    int i;
    float total = 0.0;
    for(i = 0; i < v.size(); i++){
        total += (v[i] * v[i]);
    }

    return sqrt(total);
}

double edgeweight(vector<float> v1, vector<float> v2){

    vector<float> v3;
    vectorsubtraction(v1, v2, v3);

    float normalized = normalizevector(v3);
    double base = exp(normalized);
    return (1 / base);
}
```

In [112]:
#Python code of barycentric clustering

In [113]:
from sklearn.preprocessing import OneHotEncoder

In [114]:
df_np = df.to_numpy()
print(df_np)
df.info()

[[1583452800.0 '1' 1583107200.0 ... '6' 0 0.0]
 [1583712000.0 '2' 1583452800.0 ... '5' 0 0.0]
 [1583712000.0 '3' 1583539200.0 ... '6' 0 0.0]
 ...
 [1588896000.0 '10038' 1588896000.0 ... '6' 0 1588204800.0]
 [1588896000.0 '10039' 1588464000.0 ... '6' 0 1588723200.0]
 [1588896000.0 '10040' 1588464000.0 ... '6' 0 0.0]]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   web_date_report             10000 non-null  float64
 1   case_id                     10000 non-null  object
 2   notification_date           10000 non-null  float64
 3   davipola_departament_code   10000 non-null  object
 4   department_name             10000 non-null  object
 5   davipola_municipality_code  10000 non-null  object
 6   municipality_name           10000 non-null  object
 7   age                         10000 non-null  object
 8   age_measurement_unit        10000 non-null  object
 9   sex                         10000 non-null  object
 10  contagion_type              10000 non-null  object
 11  case_location               10000 non-null  object
 12  state                       10000 non-null  object
 13  iso_country_code            10000 non-null  object
 14  country_name                10000 non-null  object
 15  recuperated                 10000 non-null  object
 16  beginning_symptoms_date     10000 non-null  float64
 17  date_of_diagnosis           10000 non-null  float64
 18  date_of_recovery            10000 non-null  float64
 19  recovery_type               10000 non-null  object
 20  ethnicity                   10000 non-null  object
 21  ethnic_group_name           10000 non-null  object
 22  date_of_death               10000 non-null  float64
dtypes: float64(6), object(17)
memory usage: 1.8+ MB

In [117]:
df_to_use_in_pca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   notification_date           10000 non-null  float64
 1   davipola_departament_code   10000 non-null  object
 2   davipola_municipality_code  10000 non-null  object
 3   age_measurement_unit        10000 non-null  object
 4   sex                         10000 non-null  object
 5   contagion_type              10000 non-null  object
 6   case_location               10000 non-null  object
 7   state                       10000 non-null  object
 8   iso_country_code            10000 non-null  object
 9   recuperated                 10000 non-null  object
 10  beginning_symptoms_date     10000 non-null  float64
 11  date_of_diagnosis           10000 non-null  float64
 12  date_of_recovery            10000 non-null  float64
 13  ethnicity                   10000 non-null  object
 14  ethnic_group_name           10000 non-null  object
dtypes: float64(4), object(11)
memory usage: 1.1+ MB

In [121]:
enc = OneHotEncoder(handle_unknown='ignore')
converted = df_to_use_in_pca.to_numpy()
print(converted)
enc.fit(converted)

[[1583107200.0 '11' '11001' ... 1584057600.0 '6' 0]
 [1583452800.0 '76' '76111' ... 1584576000.0 '5' 0]
 [1583539200.0 '5' '5001' ... 1584230400.0 '6' 0]
 ...
 [1588896000.0 '11' '11001' ... 0.0 '6' 0]
 [1588464000.0 '13001' '13001' ... 0.0 '6' 0]
 [1588464000.0 '8' '8758' ... 1589932800.0 '6' 0]]

TypeError: ignored

#Label Encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
df.columns

In [ ]:
df['case_location_encoded'] = LabelEncoder().fit_transform(df['case_location'])
df[['case_location', 'case_location_encoded']] # special syntax to get just these two columns

In [ ]:
df.head(200)

In [ ]:
print(df.dtypes)

Statistics # Statistics to develop