#Model

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import datetime
import tensorflow as tf

In [2]:
import os
!pip install sodapy -q
!pip install socrata-py -q

from sodapy import Socrata
from socrata.authorization import Authorization

  Building wheel for socrata-py (setup.py) ... done

In [3]:
client = Socrata(
                "www.datos.gov.co",
                "idLwSviPi5dGMTd7GfIfW3CLU",
                username="sebastian_romerola@fet.edu.co",
                password="Sebastian#2018",
                timeout=120
                )

results = client.get("gt2j-8ykr",
                    #  ciudad_municipio_nom="Neiva",
                    departamento_nom="HUILA",
                    limit=100000)

In [4]:
df = pd.DataFrame.from_records(results)

In [5]:
#  path= 'https://www.datos.gov.co/resource/gt2j-8ykr.csv'
#
#  df = pd.read_csv (r''+path)
#  df.head(10)

In [6]:
df.describe()

        fecha_reporte_web id_de_caso  ...      fecha_muerte   nom_grupo_
count               66679      66679  ...              2519          604
unique                429      66679  ...               347           68
top     16/1/2021 0:00:00    1893770  ...  4/2/2021 0:00:00  Por definir
freq                  944          1  ...                21          249

[4 rows x 23 columns]

In [7]:
df.columns

Index(['fecha_reporte_web', 'id_de_caso', 'fecha_de_notificaci_n',
       'departamento', 'departamento_nom', 'ciudad_municipio',
       'ciudad_municipio_nom', 'edad', 'unidad_medida', 'sexo',
       'fuente_tipo_contagio', 'ubicacion', 'estado', 'pais_viajo_1_cod',
       'pais_viajo_1_nom', 'recuperado', 'fecha_inicio_sintomas',
       'fecha_diagnostico', 'fecha_recuperado', 'tipo_recuperacion',
       'per_etn_', 'fecha_muerte', 'nom_grupo_'],
      dtype='object')

In [8]:
headers_name = [
  'fecha_reporte_web',
  'id_de_caso',
  'fecha_de_notificaci_n',
  'departamento',
  'departamento_nom',
  'ciudad_municipio',
  'ciudad_municipio_nom',
  'edad',
  'unidad_medida',
  'sexo',
  'fuente_tipo_contagio',
  'ubicacion',
  'estado',
  'pais_viajo_1_cod',
  'pais_viajo_1_nom',
  'recuperado',
  'fecha_inicio_sintomas',
  'fecha_muerte',
  'fecha_diagnostico',
  'fecha_recuperado',
  'tipo_recuperacion',
  'per_etn_',
  'nom_grupo_',
]

In [9]:
df.columns = [
  'web_date_report',
  'case_id',
  'notification_date',
  'davipola_departament_code',
  'department_name',
  'davipola_municipality_code',
  'municipality_name',
  'age',
  'age_measurement_unit',
  'sex',
  'contagion_type',
  'case_location',
  'state',
  'iso_country_code',
  'country_name',
  'recuperated', #spell correctly
  'beginning_symptoms_date',
  'date_of_death',
  'date_of_diagnosis',
  'date_of_recovery',
  'recovery_type',
  'ethnicity',
  'ethnic_group_name',
]

In [10]:
df.head(10)

     web_date_report case_id  ... ethnicity ethnic_group_name
0  12/3/2020 0:00:00      12  ...       NaN               NaN
1  12/3/2020 0:00:00      13  ...       NaN               NaN
2  12/3/2020 0:00:00      29  ...       NaN               NaN
3  14/3/2020 0:00:00      41  ...       NaN               NaN
4  14/3/2020 0:00:00      42  ...       NaN               NaN
5  14/3/2020 0:00:00      43  ...       NaN               NaN
6  14/3/2020 0:00:00      44  ...       NaN               NaN
7  17/3/2020 0:00:00      90  ...       NaN               NaN
8  19/3/2020 0:00:00     124  ...       NaN               NaN
9  21/3/2020 0:00:00     196  ...       NaN               NaN

[10 rows x 23 columns]

In [11]:
df.describe()

          web_date_report  case_id  ...         ethnicity ethnic_group_name
count               66679    66679  ...              2519               604
unique                429    66679  ...               347                68
top     16/1/2021 0:00:00  1893770  ...  4/2/2021 0:00:00       Por definir
freq                  944        1  ...                21               249

[4 rows x 23 columns]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66679 entries, 0 to 66678
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   web_date_report             66679 non-null  object
 1   case_id                     66679 non-null  object
 2   notification_date           66679 non-null  object
 3   davipola_departament_code   66679 non-null  object
 4   department_name             66679 non-null  object
 5   davipola_municipality_code  66679 non-null  object
 6   municipality_name           66679 non-null  object
 7   age                         66679 non-null  object
 8   age_measurement_unit        66679 non-null  object
 9   sex                         66679 non-null  object
 10  contagion_type              66570 non-null  object
 11  case_location               66679 non-null  object
 12  state                       66679 non-null  object
 13  iso_country_code            22 non-null     object
 14  country_name                22 non-null     object
 15  recuperated                 66679 non-null  object
 16  beginning_symptoms_date     66188 non-null  object
 17  date_of_death               66668 non-null  object
 18  date_of_diagnosis           62452 non-null  object
 19  date_of_recovery            62452 non-null  object
 20  recovery_type               65483 non-null  object
 21  ethnicity                   2519 non-null   object
 22  ethnic_group_name           604 non-null    object
dtypes: object(23)
memory usage: 11.7+ MB

Se quitan los nulos y se reemplazan por 0

In [13]:
df = df.fillna(0)

In [14]:
df.date_of_death

0        12/3/2020 0:00:00
1        12/3/2020 0:00:00
2        14/3/2020 0:00:00
3        15/3/2020 0:00:00
4        15/3/2020 0:00:00
               ...
66674    15/6/2021 0:00:00
66675    17/6/2021 0:00:00
66676    17/6/2021 0:00:00
66677    16/6/2021 0:00:00
66678    17/6/2021 0:00:00
Name: date_of_death, Length: 66679, dtype: object

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66679 entries, 0 to 66678
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   web_date_report             66679 non-null  object
 1   case_id                     66679 non-null  object
 2   notification_date           66679 non-null  object
 3   davipola_departament_code   66679 non-null  object
 4   department_name             66679 non-null  object
 5   davipola_municipality_code  66679 non-null  object
 6   municipality_name           66679 non-null  object
 7   age                         66679 non-null  object
 8   age_measurement_unit        66679 non-null  object
 9   sex                         66679 non-null  object
 10  contagion_type              66679 non-null  object
 11  case_location               66679 non-null  object
 12  state                       66679 non-null  object
 13  iso_country_code            66679 non-null  object
 14  country_name                66679 non-null  object
 15  recuperated                 66679 non-null  object
 16  beginning_symptoms_date     66679 non-null  object
 17  date_of_death               66679 non-null  object
 18  date_of_diagnosis           66679 non-null  object
 19  date_of_recovery            66679 non-null  object
 20  recovery_type               66679 non-null  object
 21  ethnicity                   66679 non-null  object
 22  ethnic_group_name           66679 non-null  object
dtypes: object(23)
memory usage: 11.7+ MB

Similarity mesurement (radio basics funciotn)
1.  
*   ML / rbf -| knn graph / 
*   train to know about who would most highly survive
*   KNN graph (find the most near neibough
2.  
*   svm (support vector machine)





Adjency matrix. to build a graph after apply rbf and knn aproach?

In [16]:
from datetime import datetime

datetime_str = '6/3/2020 0:00:00'

datetime_object = datetime.strptime(datetime_str, '%d/%m/%Y %H:%M:%S')

datetime_object.timestamp()

1583452800.0

In [17]:
df.head()

     web_date_report case_id  ... ethnicity ethnic_group_name
0  12/3/2020 0:00:00      12  ...         0                 0
1  12/3/2020 0:00:00      13  ...         0                 0
2  12/3/2020 0:00:00      29  ...         0                 0
3  14/3/2020 0:00:00      41  ...         0                 0
4  14/3/2020 0:00:00      42  ...         0                 0

[5 rows x 23 columns]

In [18]:
"""
model = tf.keras.Sequential([
  tf.layers.Dense(input_shape=(28,28,3))),
  tf.layers.Dense(100, activation='relu'),
  tf.layers.Dense(100, activation='relu'),
  tf.layers.Dense(10, activation='softmax')
])
"""

"\nmodel = tf.keras.Sequential([\n  tf.layers.Dense(input_shape=(28,28,3))),\n  tf.layers.Dense(100, activation='relu'),\n  tf.layers.Dense(100, activation='relu'),\n  tf.layers.Dense(10, activation='softmax')\n])\n"

In [ ]:
for i in df.columns:
  if i.find("date") != -1:
    print(i)
    a = list()
    for j in eval("df."+i):
      #if j = null
      if j != 0:
        a.append(datetime.strptime(str(j), '%d/%m/%Y %H:%M:%S').timestamp())
      else:
        a.append(0)
    df[i] = a

web_date_report
notification_date
beginning_symptoms_date
date_of_death

In [ ]:
df.values

1.   Delete departament name && municipality name 
2.   Binarize sex column
3.   Delete country name
4.   Normalize recovery type
5.   Write documentation

In [ ]:
df.describe()

Analisis de componentes principales (APC)

quitar lo que se puede.

desviaciÃ³n estandar de  para analizar causas de muerte

.fit

se realiza conversiÃ³n a todos los que tengan

In [ ]:
#/-////////////////////////////////////////////////////////#
#                                                         /
#              average of recovery time per genre         /
#                                                         /
#/////////////////////////////////////////////////////////#

#////////////////////////////////////////////////////////#
#                                                        /
#     Capitalize Sex column values to avoid errors       /
#                                                        /
#////////////////////////////////////////////////////////#

#///



#////////////////////////////////////////////////////////#
#                                                        /
#  substract betweeen two dates and store it the answer  /
#                                                        /
#////////////////////////////////////////////////////////#

def get_duration_of_illness(x:any):
  time = 0
  z = list()
  count = 0
  for e in x.index:
    # print("position:")
    # print(e)
    # print(x.recuperated[e])
    count += 1
    if x.date_of_recovery[e] != 0:
      x.loc[e, "time_to_recover"] = abs(x.date_of_recovery[e] - x.beginning_symptoms_date[e])
    elif x.date_of_death[e] != 0:
      x.loc[e, "time_to_recover"] = abs(x.date_of_death[e] - x.beginning_symptoms_date[e])
    elif x.date_of_death[e] == 0 and x.date_of_recovery[e] == 0:
      print("NAN")
      x.loc[e, "time_to_recover"] = 0
  
  print("The total amount of data is: "+ str(count))

  return x

      # x.duration_of_illness.append()
      
      # abs((d2 - d1).days)

#////////////////////////////////////////////////////////#
#                                                        /
# Get important Columns to get the main of recovery time /
#                                                        /
#////////////////////////////////////////////////////////#

mean = 0
array_duration_of_illness = df.loc[
                                   :,
                                   [
                                    "sex",
                                    "beginning_symptoms_date",
                                    "date_of_recovery",
                                    "date_of_death",
                                    "recuperated"
                                    ]
                                   ]

                                   #  sex M/ 15 avg to get recover from beginning_symptoms_date. 
                                   #  sex F/ 14 avg.

                                   # Male / Ibague / how long time do they neeed to get recover?
                                   #cound .. avg ... 

                                   ## share tje ML research results -| graph clustering. 

array_dates_women = array_duration_of_illness[array_duration_of_illness["sex"] == 'F']
get_duration_of_illness(array_dates_women)

array_dates_men = array_duration_of_illness[array_duration_of_illness["sex"] == "M"]
get_duration_of_illness(array_dates_men)

print(df.iloc[471])

#////           For alive people
# df.beginning_symptoms_date - df.date_of_recovery 


#////           For death people
# df.beginning_symptoms_date - df.date_of_death

#Requesting more than 1000 records.

In [ ]:
import os
!pip install sodapy -q
!pip install socrata-py -q

from sodapy import Socrata
from socrata.authorization import Authorization

In [ ]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:

# client = Socrata(
#                 "www.datos.gov.co",
#                 "idLwSviPi5dGMTd7GfIfW3CLU",
#                 username="sebastian_romerola@fet.edu.co",
#                 password="Sebastian#2018",
#                 timeout=120
#                 )

# Example authenticated client (needed for non-public datasets):
# client = Socrata(www.datos.gov.co,
#                  MyAppToken,
#                  username="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.

# results = client.get("gt2j-8ykr",
#                     #  ciudad_municipio_nom="Neiva",
#                     departamento_nom="HUILA",
#                     limit=100000)

# Convert to pandas DataFrame
#results_df = pd.DataFrame.from_records(results)

In [ ]:
# Convert to pandas DataFrame

results_df = pd.DataFrame.from_records(results)

results_df

In [ ]:
results_df.describe

In [ ]:
results_df.info()

#Compromiso

1. Servicio que colecta la data por departamento y la guarda en la base de datos
    * Eliminar registros por departamento y volver a consultarlos y almacenarlos
2. Servicio que recibe por parametro el id del departamento 
3. Servicio que recupera la info por municipio.

#Commitment

1. Service which collect the data from Colombia according to each departament (state)
    * Delete records per departament and request it again
2. Service which get by parameter the departament_id and return the information
3. Service get municipality info